n8n/fly-edit-ui-workflow-v2.json
{
    "name": "AI Editor - Edit UI (Fly.io Preview v2)",
    "nodes": [
        {
            "parameters": {
                "content": "## 🟢 EDIT-UI FLOW v2\nHandles broad requests by fetching file context first\n\nInput: siteId, conversationId, userId, message\nOutput: requestId, diff, previewUrl",
                "width": 320,
                "color": 5
            },
            "id": "sticky-note",
            "name": "Sticky Note",
            "type": "n8n-nodes-base.stickyNote",
            "typeVersion": 1,
            "position": [
                -896,
                -384
            ]
        },
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "agent/edit-ui",
                "responseMode": "responseNode",
                "options": {
                    "allowedOrigins": "*"
                }
            },
            "id": "webhook-edit-ui",
            "name": "Webhook Edit UI",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 2,
            "position": [
                -432,
                -1200
            ],
            "webhookId": "edit-ui"
        },
        {
            "parameters": {
                "jsCode": "const b=$input.first().json.body||$input.first().json;\nconst req=['siteId','conversationId','userId','message'];\nconst miss=req.filter(k=>!b[k]);\nif(miss.length)throw new Error('Missing: '+miss.join(', '));\nconst rid='req_'+Date.now()+'_'+Math.random().toString(36).slice(2,11);\nreturn[{json:{siteId:b.siteId,conversationId:b.conversationId,userId:b.userId,message:b.message,pageUrl:b.pageUrl||null,uiContext:b.uiContext||{},requestId:rid}}];"
            },
            "id": "validate-input",
            "name": "Validate Edit Input",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                -288,
                -1200
            ]
        },
        {
            "parameters": {
                "url": "=https://jjrbnjubjiswvxeradzw.supabase.co/rest/v1/sites?site_key=eq.{{$json.siteId}}&select=*",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "apikey",
                            "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImpqcmJuanViamlzd3Z4ZXJhZHp3Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2NjIzMzg1OSwiZXhwIjoyMDgxODA5ODU5fQ.DDff_1lJpQo4vdnKm84-1H8QYD0diD-n7pK7VIliNe4"
                        },
                        {
                            "name": "Authorization",
                            "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImpqcmJuanViamlzd3Z4ZXJhZHp3Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2NjIzMzg1OSwiZXhwIjoyMDgxODA5ODU5fQ.DDff_1lJpQo4vdnKm84-1H8QYD0diD-n7pK7VIliNe4"
                        }
                    ]
                },
                "options": {}
            },
            "id": "load-site",
            "name": "Load Site",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                -144,
                -1200
            ]
        },
        {
            "parameters": {
                "jsCode": "const inp=$('Validate Edit Input').item.json;\nconst siteArr=$input.first().json;\nconst site=Array.isArray(siteArr)?siteArr[0]:siteArr;\nif(!site)throw new Error('Site not found');\nconst allowedPaths=site.allowed_paths_json||['src/**'];\nconst repoUrl=site.repo_url||'';\nconst match=repoUrl.match(/github\\.com\\/([^/]+)\\/([^/]+)/);\nconst owner=match?match[1]:'';\nconst repo=match?match[2].replace(/\\.git$/,''):'';\n\n// Default files to fetch for broad requests\nconst defaultFiles = ['src/app/page.tsx', 'src/app/globals.css', 'src/app/layout.tsx'];\n\nreturn[{json:{...inp,site:{id:site.id,name:site.name,repo_url:site.repo_url,default_branch:site.default_branch||'main',stack:site.stack||'unknown',allowedPaths,owner,repo},fileContents:{},filesToFetch:defaultFiles}}];"
            },
            "id": "build-context",
            "name": "Build Context",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                16,
                -1200
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "={{ $env.FLY_ORCHESTRATOR_URL || 'https://preview-orchestrator.fly.dev' }}/preview/start",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "Content-Type",
                            "value": "application/json"
                        }
                    ]
                },
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={{ JSON.stringify({ siteId: $json.site.id, repoUrl: $json.site.repo_url, branch: $json.site.default_branch }) }}",
                "options": {
                    "timeout": 120000
                }
            },
            "id": "fly-start",
            "name": "Fly - Start Preview",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                176,
                -1200
            ]
        },
        {
            "parameters": {
                "jsCode": "const ctx = $('Build Context').item.json;\nconst flyResp = $input.first().json;\nreturn [{ json: { ...ctx, previewUrl: flyResp.previewUrl || '', previewStatus: flyResp.status || 'unknown' } }];"
            },
            "id": "merge-fly",
            "name": "Merge Fly Context",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                336,
                -1200
            ]
        },
        {
            "parameters": {
                "jsCode": "// Prepare items for fetching multiple files\nconst ctx = $input.first().json;\nconst files = ctx.filesToFetch || [];\nif (files.length === 0) {\n  return [{ json: { ...ctx, fileContents: {} } }];\n}\nreturn files.map(f => ({ json: { ...ctx, currentFetchPath: f } }));"
            },
            "id": "prepare-fetch",
            "name": "Prepare File Fetch",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                496,
                -1200
            ]
        },
        {
            "parameters": {
                "url": "=https://api.github.com/repos/{{ $json.site.owner }}/{{ $json.site.repo }}/contents/{{ $json.currentFetchPath }}?ref={{ $json.site.default_branch }}",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "Authorization",
                            "value": "=Bearer {{ $env.GITHUB_TOKEN }}"
                        },
                        {
                            "name": "Accept",
                            "value": "application/vnd.github+json"
                        }
                    ]
                },
                "options": {
                    "response": {
                        "response": {
                            "neverError": true
                        }
                    }
                }
            },
            "id": "fetch-files",
            "name": "Fetch Files from GitHub",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                656,
                -1200
            ]
        },
        {
            "parameters": {
                "jsCode": "// Merge all fetched files into fileContents\nconst items = $input.all();\nconst firstItem = items[0].json;\nconst fileContents = {};\n\nitems.forEach(item => {\n  const path = item.json.currentFetchPath;\n  if (item.json.content) {\n    try {\n      fileContents[path] = Buffer.from(item.json.content, 'base64').toString('utf8');\n    } catch (e) {\n      fileContents[path] = '// Error decoding file';\n    }\n  } else if (item.json.message && item.json.message.includes('Not Found')) {\n    // File doesn't exist, skip\n  }\n});\n\nreturn [{ json: { ...firstItem, fileContents, currentFetchPath: undefined } }];"
            },
            "id": "merge-files",
            "name": "Merge File Contents",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                816,
                -1200
            ]
        },
        {
            "parameters": {
                "promptType": "define",
                "text": "={{ $json.message }}",
                "options": {
                    "systemMessage": "=You are a front-end code AI. Output ONLY valid JSON matching UiEditPlan schema.\nALLOWED PATHS: {{ JSON.stringify($json.site.allowedPaths) }}\nSTACK: {{ $json.site.stack }}\nFILE CONTENTS:\n{{ Object.entries($json.fileContents).map(([k,v]) => `--- ${k} ---\\n${v.slice(0,2000)}`).join('\\n\\n') }}\n\nSchema (output exactly this structure):\n{\n  \"intent\": \"string describing what the user wants\",\n  \"fileTargets\": [{\"path\": \"string\", \"action\": \"modify|create\", \"description\": \"string\"}],\n  \"changes\": [{\"file\": \"string\", \"action\": \"modify|create\", \"instructions\": \"string\", \"search\": \"string|null\", \"replace\": \"string|null\"}],\n  \"riskFlags\": [],\n  \"warnings\": [],\n  \"needsContext\": [],\n  \"humanSummary\": \"one sentence describing the change\",\n  \"unifiedDiff\": \"COMPLETE git-style unified diff with --- a/ and +++ b/ headers\"\n}\n\nRULES:\n1. ONLY modify files matching allowed paths\n2. NEVER touch: .env, secrets, backend, auth, payments, database\n3. You have file contents - ALWAYS generate a complete unifiedDiff\n4. Make minimal, targeted changes only\n5. Output raw JSON only - no markdown, no code blocks\n6. ALL file paths MUST start with \"src/\"\n7. Generate REAL diffs - do not leave unifiedDiff empty!"
                }
            },
            "id": "opus-plan",
            "name": "Opus Plan",
            "type": "@n8n/n8n-nodes-langchain.agent",
            "typeVersion": 1.7,
            "position": [
                976,
                -1200
            ]
        },
        {
            "parameters": {
                "model": {
                    "__rl": true,
                    "value": "claude-sonnet-4-5-20250929",
                    "mode": "list"
                },
                "options": {}
            },
            "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
            "typeVersion": 1.3,
            "position": [
                976,
                -1024
            ],
            "id": "anthropic-model",
            "name": "Anthropic Chat Model",
            "credentials": {
                "anthropicApi": {
                    "id": "rYzY5ntOg2GiDVx8",
                    "name": "Anthropic account"
                }
            }
        },
        {
            "parameters": {
                "jsCode": "const ctx = $('Merge File Contents').item.json;\nconst raw = $('Opus Plan').item.json;\n\nlet plan;\ntry {\n  if (raw?.output && typeof raw.output === 'object') {\n    plan = raw.output;\n  } else {\n    const out = String(raw?.output ?? raw?.message?.content ?? raw?.content ?? raw?.text ?? '');\n    const m = out.match(/(\\{[\\s\\S]*\\})/);\n    if (!m) throw new Error('No JSON object found in LLM output');\n    plan = JSON.parse(m[1]);\n  }\n} catch (e) {\n  throw new Error('Invalid JSON from LLM: ' + e.message);\n}\n\nplan.warnings = plan.warnings || [];\nplan.riskFlags = plan.riskFlags || [];\nplan.needsContext = plan.needsContext || [];\nplan.unifiedDiff = plan.unifiedDiff || '';\n\n// Check if we have a diff\nconst hasDiff = plan.unifiedDiff && plan.unifiedDiff.trim().length > 10;\n\nreturn [{ json: { ...ctx, plan, hasDiff } }];"
            },
            "id": "parse-plan",
            "name": "Parse Plan",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                1136,
                -1200
            ]
        },
        {
            "parameters": {
                "jsCode": "const ctx = $input.first().json;\nif (!ctx?.site) throw new Error('Missing site');\nif (!ctx?.plan) throw new Error('Missing plan');\n\nconst allowed = ctx.site.allowedPaths || ['src/**'];\nconst forbidden = [/\\.env/i, /secret/i, /api[_-]?key/i, /token/i, /password/i, /node_modules/i, /\\.git/i];\n\nfunction globMatch(p, pats) {\n  return pats.some(g => {\n    const re = new RegExp('^' + g.replace(/\\*\\*/g, '.*').replace(/\\*/g, '[^/]*'));\n    return re.test(p);\n  });\n}\n\nconst badPath = [];\n(ctx.plan.fileTargets || []).forEach(t => {\n  if (!globMatch(t.path, allowed)) badPath.push(t.path);\n  if (forbidden.some(f => f.test(t.path))) badPath.push(t.path);\n});\n\nif (badPath.length) throw new Error('Path not allowed: ' + [...new Set(badPath)].join(', '));\n\nreturn [{ json: ctx }];"
            },
            "id": "guardrails",
            "name": "Guardrails",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                1296,
                -1200
            ]
        },
        {
            "parameters": {
                "conditions": {
                    "boolean": [
                        {
                            "value1": "={{ $json.hasDiff }}",
                            "value2": true
                        }
                    ]
                }
            },
            "id": "check-has-diff",
            "name": "Has Diff?",
            "type": "n8n-nodes-base.if",
            "typeVersion": 2,
            "position": [
                1456,
                -1200
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "={{ $env.FLY_ORCHESTRATOR_URL || 'https://preview-orchestrator.fly.dev' }}/preview/apply",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "Content-Type",
                            "value": "application/json"
                        }
                    ]
                },
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={{ JSON.stringify({ siteId: $json.site.id, unifiedDiff: $json.plan.unifiedDiff }) }}",
                "options": {
                    "timeout": 30000
                }
            },
            "id": "fly-apply",
            "name": "Fly - Apply Diff",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                1616,
                -1100
            ]
        },
        {
            "parameters": {
                "jsCode": "const ctx = $('Guardrails').item.json;\nconst applyResp = $input.first().json;\nreturn [{ json: { ...ctx, filesChanged: applyResp.filesChanged || [], applyOk: applyResp.ok } }];"
            },
            "id": "merge-apply",
            "name": "Merge Apply Result",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                1776,
                -1100
            ]
        },
        {
            "parameters": {
                "jsCode": "// No diff to apply - just pass through\nconst ctx = $('Guardrails').item.json;\nctx.plan.warnings = ctx.plan.warnings || [];\nctx.plan.warnings.push('No diff generated - AI needs more specific instructions');\nreturn [{ json: { ...ctx, filesChanged: [], applyOk: false } }];"
            },
            "id": "no-diff-path",
            "name": "No Diff (Skip Apply)",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                1616,
                -1300
            ]
        },
        {
            "parameters": {
                "mode": "combine",
                "mergeByFields": {
                    "values": []
                },
                "options": {}
            },
            "id": "merge-paths",
            "name": "Merge Paths",
            "type": "n8n-nodes-base.merge",
            "typeVersion": 3,
            "position": [
                1936,
                -1200
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "=https://jjrbnjubjiswvxeradzw.supabase.co/rest/v1/code_versions",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "apikey",
                            "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImpqcmJuanViamlzd3Z4ZXJhZHp3Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2NjIzMzg1OSwiZXhwIjoyMDgxODA5ODU5fQ.DDff_1lJpQo4vdnKm84-1H8QYD0diD-n7pK7VIliNe4"
                        },
                        {
                            "name": "Authorization",
                            "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImpqcmJuanViamlzd3Z4ZXJhZHp3Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2NjIzMzg1OSwiZXhwIjoyMDgxODA5ODU5fQ.DDff_1lJpQo4vdnKm84-1H8QYD0diD-n7pK7VIliNe4"
                        },
                        {
                            "name": "Content-Type",
                            "value": "application/json"
                        },
                        {
                            "name": "Prefer",
                            "value": "return=representation"
                        }
                    ]
                },
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={{ JSON.stringify({ client_id: $json.site.id, request_id: $json.requestId, instruction: $json.message, plan_json: $json.plan, diff: $json.plan.unifiedDiff || '', status: $json.applyOk ? 'preview_ready' : 'pending', preview_url: $json.previewUrl || '', created_at: new Date().toISOString() }) }}",
                "options": {}
            },
            "id": "save-cr",
            "name": "Save Change Request",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                2096,
                -1200
            ]
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "={{ JSON.stringify({ requestId: $('Merge Paths').item.json.requestId, status: $('Merge Paths').item.json.applyOk ? 'preview_ready' : 'pending', summary: $('Merge Paths').item.json.plan.humanSummary || '', diff: $('Merge Paths').item.json.plan.unifiedDiff || '', previewUrl: $('Merge Paths').item.json.previewUrl || '', filesChanged: $('Merge Paths').item.json.filesChanged || [], warnings: $('Merge Paths').item.json.plan.warnings || [] }) }}",
                "options": {}
            },
            "id": "response-edit",
            "name": "Response Edit",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1.1,
            "position": [
                2256,
                -1200
            ]
        },
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "agent/deploy",
                "responseMode": "responseNode",
                "options": {
                    "allowedOrigins": "*"
                }
            },
            "id": "webhook-deploy",
            "name": "Webhook Deploy",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 2,
            "position": [
                -432,
                -700
            ],
            "webhookId": "deploy"
        },
        {
            "parameters": {
                "jsCode": "const b=$input.first().json.body||$input.first().json;\nif(!b.siteId)throw new Error('Missing siteId');\nreturn[{json:{siteId:b.siteId,requestId:b.requestId||'',mode:b.mode||'pr',title:b.title||'AI Editor Changes',body:b.body||'Changes made via AI Editor',orchestratorUrl:$env.FLY_ORCHESTRATOR_URL||'https://preview-orchestrator.fly.dev'}}];"
            },
            "id": "validate-deploy",
            "name": "Validate Deploy",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                -288,
                -700
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "={{ $json.orchestratorUrl }}/preview/deploy",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "Content-Type",
                            "value": "application/json"
                        }
                    ]
                },
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={{ JSON.stringify({ siteId: $json.siteId, mode: $json.mode, title: $json.title, body: $json.body }) }}",
                "options": {
                    "timeout": 120000
                }
            },
            "id": "fly-deploy",
            "name": "Fly - Deploy",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                -128,
                -700
            ]
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "={{ JSON.stringify({ status: 'deployed', mode: $json.mode, prUrl: $json.prUrl || '', branch: $json.branch || '' }) }}",
                "options": {}
            },
            "id": "response-deploy",
            "name": "Response Deploy",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1.1,
            "position": [
                32,
                -700
            ]
        }
    ],
    "connections": {
        "Webhook Edit UI": {
            "main": [
                [
                    {
                        "node": "Validate Edit Input",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Validate Edit Input": {
            "main": [
                [
                    {
                        "node": "Load Site",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Load Site": {
            "main": [
                [
                    {
                        "node": "Build Context",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Build Context": {
            "main": [
                [
                    {
                        "node": "Fly - Start Preview",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Fly - Start Preview": {
            "main": [
                [
                    {
                        "node": "Merge Fly Context",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Merge Fly Context": {
            "main": [
                [
                    {
                        "node": "Prepare File Fetch",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Prepare File Fetch": {
            "main": [
                [
                    {
                        "node": "Fetch Files from GitHub",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Fetch Files from GitHub": {
            "main": [
                [
                    {
                        "node": "Merge File Contents",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Merge File Contents": {
            "main": [
                [
                    {
                        "node": "Opus Plan",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Opus Plan": {
            "main": [
                [
                    {
                        "node": "Parse Plan",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Anthropic Chat Model": {
            "ai_languageModel": [
                [
                    {
                        "node": "Opus Plan",
                        "type": "ai_languageModel",
                        "index": 0
                    }
                ]
            ]
        },
        "Parse Plan": {
            "main": [
                [
                    {
                        "node": "Guardrails",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Guardrails": {
            "main": [
                [
                    {
                        "node": "Has Diff?",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Has Diff?": {
            "main": [
                [
                    {
                        "node": "Fly - Apply Diff",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "No Diff (Skip Apply)",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Fly - Apply Diff": {
            "main": [
                [
                    {
                        "node": "Merge Apply Result",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Merge Apply Result": {
            "main": [
                [
                    {
                        "node": "Merge Paths",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "No Diff (Skip Apply)": {
            "main": [
                [
                    {
                        "node": "Merge Paths",
                        "type": "main",
                        "index": 1
                    }
                ]
            ]
        },
        "Merge Paths": {
            "main": [
                [
                    {
                        "node": "Save Change Request",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Save Change Request": {
            "main": [
                [
                    {
                        "node": "Response Edit",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Webhook Deploy": {
            "main": [
                [
                    {
                        "node": "Validate Deploy",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Validate Deploy": {
            "main": [
                [
                    {
                        "node": "Fly - Deploy",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Fly - Deploy": {
            "main": [
                [
                    {
                        "node": "Response Deploy",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "pinData": {},
    "meta": {
        "templateCredsSetupCompleted": true
    }
}