n8n/fly-edit-ui-workflow-v4.json
{
    "name": "AI Editor - Edit UI (Fly.io Preview v4)",
    "nodes": [
        {
            "parameters": {
                "content": "## 🟢 EDIT-UI FLOW v4\nSimplified flow - uses HTTP Request for apply diff\n\nInput: siteId, conversationId, userId, message\nOutput: requestId, diff, previewUrl",
                "width": 320,
                "color": 5
            },
            "id": "sticky-note",
            "name": "Sticky Note",
            "type": "n8n-nodes-base.stickyNote",
            "typeVersion": 1,
            "position": [
                -896,
                -384
            ]
        },
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "agent/edit-ui",
                "responseMode": "responseNode",
                "options": {
                    "allowedOrigins": "*"
                }
            },
            "id": "webhook-edit-ui",
            "name": "Webhook Edit UI",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 2,
            "position": [
                -432,
                -1200
            ],
            "webhookId": "edit-ui"
        },
        {
            "parameters": {
                "jsCode": "const b=$input.first().json.body||$input.first().json;\nconst req=['siteId','conversationId','userId','message'];\nconst miss=req.filter(k=>!b[k]);\nif(miss.length)throw new Error('Missing: '+miss.join(', '));\nconst rid='req_'+Date.now()+'_'+Math.random().toString(36).slice(2,11);\nreturn[{json:{siteId:b.siteId,conversationId:b.conversationId,userId:b.userId,message:b.message,pageUrl:b.pageUrl||null,uiContext:b.uiContext||{},requestId:rid}}];"
            },
            "id": "validate-input",
            "name": "Validate Input",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                -288,
                -1200
            ]
        },
        {
            "parameters": {
                "url": "=https://jjrbnjubjiswvxeradzw.supabase.co/rest/v1/sites?site_key=eq.{{$json.siteId}}&select=*",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "apikey",
                            "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImpqcmJuanViamlzd3Z4ZXJhZHp3Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2NjIzMzg1OSwiZXhwIjoyMDgxODA5ODU5fQ.DDff_1lJpQo4vdnKm84-1H8QYD0diD-n7pK7VIliNe4"
                        },
                        {
                            "name": "Authorization",
                            "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImpqcmJuanViamlzd3Z4ZXJhZHp3Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2NjIzMzg1OSwiZXhwIjoyMDgxODA5ODU5fQ.DDff_1lJpQo4vdnKm84-1H8QYD0diD-n7pK7VIliNe4"
                        }
                    ]
                },
                "options": {}
            },
            "id": "load-site",
            "name": "Load Site",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                -144,
                -1200
            ]
        },
        {
            "parameters": {
                "jsCode": "const inp=$('Validate Input').item.json;\\nconst siteArr=$input.first().json;\\nconst site=Array.isArray(siteArr)?siteArr[0]:siteArr;\\nif(!site)throw new Error('Site not found');\\n// Allow ALL paths - no restrictions\\nconst allowedPaths=['**/*','src/**','public/**','*.html','*.tsx','*.ts','*.css','*.json'];\\nconst repoUrl=site.repo_url||'';\\nconst match=repoUrl.match(/github\\\\.com\\\\/([^/]+)\\\\/([^/]+)/);\\nconst owner=match?match[1]:'';\\nconst repo=match?match[2].replace(/\\\\.git$/,''):'';\\nconst defaultFiles=['src/app/page.tsx','src/app/globals.css','src/app/layout.tsx','index.html'];\\nreturn[{json:{...inp,site:{id:site.id,name:site.name,repo_url:site.repo_url,default_branch:site.default_branch||'main',stack:site.stack||'unknown',allowedPaths,owner,repo},fileContents:{},filesToFetch:defaultFiles,sessionId:inp.conversationId}}];"
            },
            "id": "build-context",
            "name": "Build Context",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                16,
                -1200
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "https://preview-orchestrator.fly.dev/preview/start",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "Content-Type",
                            "value": "application/json"
                        }
                    ]
                },
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={{ JSON.stringify({ siteId: $json.site.id, repoUrl: $json.site.repo_url, branch: $json.site.default_branch }) }}",
                "options": {
                    "timeout": 120000
                }
            },
            "id": "fly-start",
            "name": "Fly Start Preview",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                176,
                -1200
            ]
        },
        {
            "parameters": {
                "jsCode": "const ctx = $('Build Context').item.json;\nconst flyResp = $input.first().json;\nreturn [{ json: { ...ctx, previewUrl: flyResp.previewUrl || '', previewStatus: flyResp.status || 'unknown' } }];"
            },
            "id": "merge-fly",
            "name": "Merge Fly Response",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                336,
                -1200
            ]
        },
        {
            "parameters": {
                "jsCode": "const ctx = $input.first().json;\nconst files = ctx.filesToFetch || [];\nif (files.length === 0) {\n  return [{ json: { ...ctx, fileContents: {} } }];\n}\nreturn files.map(f => ({ json: { ...ctx, currentFetchPath: f } }));"
            },
            "id": "prepare-fetch",
            "name": "Prepare Fetch",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                496,
                -1200
            ]
        },
        {
            "parameters": {
                "url": "=https://api.github.com/repos/{{ $json.site.owner }}/{{ $json.site.repo }}/contents/{{ $json.currentFetchPath }}?ref={{ $json.site.default_branch }}",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "Authorization",
                            "value": "=Bearer {{ $env.GITHUB_TOKEN }}"
                        },
                        {
                            "name": "Accept",
                            "value": "application/vnd.github+json"
                        }
                    ]
                },
                "options": {
                    "response": {
                        "response": {
                            "neverError": true
                        }
                    }
                }
            },
            "id": "fetch-github",
            "name": "Fetch GitHub Files",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                656,
                -1200
            ]
        },
        {
            "parameters": {
                "jsCode": "const originalCtx = $('Merge Fly Response').item.json;\\nconst items = $input.all();\\nconst fileContents = {};\\nitems.forEach(item => {\\n  const path = item.json.currentFetchPath;\\n  if (item.json.content) {\\n    try {\\n      fileContents[path] = Buffer.from(item.json.content, 'base64').toString('utf8');\\n    } catch (e) {\\n      fileContents[path] = '// Error decoding file';\\n    }\\n  }\\n});\\n\\n// Fetch conversation history from messages table using session_id\\nlet conversationHistory = [];\\ntry {\\n  // First get the chat_session by id (conversationId)\\n  const sessionId = originalCtx.conversationId || originalCtx.sessionId;\\n  if (sessionId) {\\n    const msgResp = await fetch(\\n      `https://jjrbnjubjiswvxeradzw.supabase.co/rest/v1/messages?session_id=eq.${sessionId}&select=role,content,created_at&order=created_at.asc&limit=20`,\\n      {\\n        headers: {\\n          'apikey': 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImpqcmJuanViamlzd3Z4ZXJhZHp3Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2NjIzMzg1OSwiZXhwIjoyMDgxODA5ODU5fQ.DDff_1lJpQo4vdnKm84-1H8QYD0diD-n7pK7VIliNe4',\\n          'Authorization': 'Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImpqcmJuanViamlzd3Z4ZXJhZHp3Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2NjIzMzg1OSwiZXhwIjoyMDgxODA5ODU5fQ.DDff_1lJpQo4vdnKm84-1H8QYD0diD-n7pK7VIliNe4'\\n        }\\n      }\\n    );\\n    const messages = await msgResp.json();\\n    if (Array.isArray(messages)) {\\n      conversationHistory = messages.map(m => ({ role: m.role, content: m.content }));\\n    }\\n  }\\n} catch (e) {\\n  console.log('Could not fetch conversation history:', e);\\n}\\n\\nreturn [{ json: { ...originalCtx, fileContents, conversationHistory } }];"
            },
            "id": "merge-files",
            "name": "Merge Files",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                816,
                -1200
            ]
        },
        {
            "parameters": {
                "promptType": "define",
                "text": "={{ $json.message }}",
                "options": {
                    "systemMessage": "=You are AutoMate, an AI editor that creates and modifies web applications. You assist users by making changes to their code in real-time with live preview.\\n\\nCurrent date: 2025-12-23\\n\\nTechnology Stack: Projects are built on React, Vite, Tailwind CSS, and TypeScript. You CANNOT use Next.js, Angular, Vue, Svelte, or native mobile frameworks.\\n\\nALLOWED PATHS: {{ JSON.stringify($json.site.allowedPaths) }}\\n\\n## CONVERSATION HISTORY (for context):\\n{{ ($json.conversationHistory || []).slice(-10).map(m => m.role + ': ' + m.content.slice(0, 500)).join('\\\\n') }}\\n\\n## FILE CONTENTS:\\n{{ Object.entries($json.fileContents).map(([k,v]) => '--- ' + k + ' ---\\\\n' + v.slice(0,4000)).join('\\\\n\\\\n') }}\\n\\n## Output Schema (MUST be valid JSON):\\n{\\n  \\\"intent\\\": \\\"string - what the user wants\\\",\\n  \\\"fileTargets\\\": [{\\\"path\\\": \\\"string\\\", \\\"action\\\": \\\"modify|create\\\"}],\\n  \\\"humanSummary\\\": \\\"string - brief explanation of changes\\\",\\n  \\\"unifiedDiff\\\": \\\"git-style unified diff with --- a/ and +++ b/ headers\\\",\\n  \\\"packagesToInstall\\\": [\\\"npm-package-name\\\"],\\n  \\\"warnings\\\": []\\n}\\n\\n## Design Guidelines:\\n- ALWAYS generate beautiful, responsive designs\\n- Use Tailwind CSS utility classes exclusively\\n- USE SEMANTIC TOKENS for colors (text-primary, bg-background, etc.)\\n- NEVER use raw colors like text-white, bg-black - use design tokens\\n- Create glassmorphism, gradients, and modern animations\\n- Dark theme with vibrant accent colors (cyan, purple, pink)\\n- Add hover effects and micro-animations for interactivity\\n\\n## Code Rules:\\n1. ONLY modify files in allowed paths (src/**)\\n2. NEVER touch .env, secrets, auth, or payment files\\n3. Keep components small and focused\\n4. Use TypeScript with proper types\\n5. Make designs mobile-responsive\\n\\n## Diff Rules (CRITICAL):\\n- ALWAYS generate a unifiedDiff when modifying files\\n- Use proper git diff format with --- a/path and +++ b/path headers\\n- Include 3 lines of context before/after changes\\n- Match the EXACT content from FILE CONTENTS above\\n- Every hunk must start with @@ -line,count +line,count @@\\n\\n## Available Package Presets (use in packagesToInstall):\\n- \\\"preset:tailwind\\\" - Tailwind CSS + PostCSS\\n- \\\"preset:animation\\\" - Framer Motion + React Spring\\n- \\\"preset:icons\\\" - Lucide React + React Icons\\n- \\\"preset:ui\\\" - Radix UI components\\n- \\\"preset:forms\\\" - React Hook Form + Zod\\n- \\\"preset:full-stack\\\" - All of the above\\n\\nOutput raw JSON only - no markdown code blocks!\""
                }
            },
            "id": "opus-plan",
            "name": "AI Plan",
            "type": "@n8n/n8n-nodes-langchain.agent",
            "typeVersion": 1.7,
            "position": [
                976,
                -1200
            ]
        },
        {
            "parameters": {
                "model": {
                    "__rl": true,
                    "value": "claude-sonnet-4-5-20250929",
                    "mode": "list"
                },
                "options": {}
            },
            "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
            "typeVersion": 1.3,
            "position": [
                976,
                -1024
            ],
            "id": "anthropic-model",
            "name": "Anthropic",
            "credentials": {
                "anthropicApi": {
                    "id": "rYzY5ntOg2GiDVx8",
                    "name": "Anthropic account"
                }
            }
        },
        {
            "parameters": {
                "jsCode": "const ctx = $('Merge Files').item.json;\nconst raw = $('AI Plan').item.json;\n\nlet plan;\nlet out = String(raw?.output ?? raw?.text ?? '');\n\n// Try multiple parsing strategies\ntry {\n  // Strategy 1: Direct object\n  if (raw?.output && typeof raw.output === 'object') {\n    plan = raw.output;\n  } else {\n    // Strategy 2: Extract JSON from text\n    const m = out.match(/(\\{[\\s\\S]*\\})/);\n    if (m) {\n      let jsonStr = m[1];\n      \n      // Strategy 3: Try to repair unterminated strings\n      try {\n        plan = JSON.parse(jsonStr);\n      } catch (e1) {\n        // Count quotes - if odd, add a closing quote\n        const quoteCount = (jsonStr.match(/\\\"/g) || []).length;\n        if (quoteCount % 2 !== 0) {\n          jsonStr = jsonStr + '\\\"';\n        }\n        \n        // Count braces\n        const openBraces = (jsonStr.match(/\\{/g) || []).length;\n        const closeBraces = (jsonStr.match(/\\}/g) || []).length;\n        jsonStr = jsonStr + '}'.repeat(openBraces - closeBraces);\n        \n        // Count brackets\n        const openBrackets = (jsonStr.match(/\\[/g) || []).length;\n        const closeBrackets = (jsonStr.match(/\\]/g) || []).length;\n        jsonStr = jsonStr + ']'.repeat(openBrackets - closeBrackets);\n        \n        try {\n          plan = JSON.parse(jsonStr);\n        } catch (e2) {\n          // Fallback: create minimal plan from output\n          plan = {\n            intent: 'modify',\n            humanSummary: out.slice(0, 200),\n            unifiedDiff: '',\n            warnings: ['AI response was malformed - please try again']\n          };\n        }\n      }\n    } else {\n      // No JSON found at all - create fallback\n      plan = {\n        intent: 'unknown',\n        humanSummary: out.slice(0, 200) || 'No response from AI',\n        unifiedDiff: '',\n        warnings: ['Could not parse AI response']\n      };\n    }\n  }\n} catch (e) {\n  plan = {\n    intent: 'error',\n    humanSummary: 'Error parsing AI response',\n    unifiedDiff: '',\n    warnings: ['Parse error: ' + e.message]\n  };\n}\n\nplan.warnings = plan.warnings || [];\nplan.unifiedDiff = plan.unifiedDiff || '';\nplan.humanSummary = plan.humanSummary || '';\nplan.fileTargets = plan.fileTargets || [];\n\nreturn [{ json: { ...ctx, plan } }];"
            },
            "id": "parse-plan",
            "name": "Parse Plan",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                1136,
                -1200
            ]
        },
        {
            "parameters": {
                "jsCode": "const ctx = $input.first().json;\nif (!ctx?.site) throw new Error('Missing site');\nif (!ctx?.plan) throw new Error('Missing plan');\n\nconst allowed = ctx.site.allowedPaths || ['src/**'];\nconst forbidden = [/\\.env/i, /secret/i, /node_modules/i, /\\.git/i];\n\nfunction globMatch(p, pats) {\n  return pats.some(g => {\n    const re = new RegExp('^' + g.replace(/\\*\\*/g, '.*').replace(/\\*/g, '[^/]*'));\n    return re.test(p);\n  });\n}\n\nconst badPath = [];\n(ctx.plan.fileTargets || []).forEach(t => {\n  if (!globMatch(t.path, allowed)) badPath.push(t.path);\n  if (forbidden.some(f => f.test(t.path))) badPath.push(t.path);\n});\n\nif (badPath.length) {\n  ctx.plan.warnings.push('Some paths not allowed: ' + [...new Set(badPath)].join(', '));\n}\n\nreturn [{ json: ctx }];"
            },
            "id": "guardrails",
            "name": "Guardrails",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                1296,
                -1200
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "https://preview-orchestrator.fly.dev/preview/apply",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "Content-Type",
                            "value": "application/json"
                        }
                    ]
                },
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={{ JSON.stringify({ siteId: $json.site.id, unifiedDiff: $json.plan.unifiedDiff || '' }) }}",
                "options": {
                    "timeout": 30000,
                    "response": {
                        "response": {
                            "neverError": true
                        }
                    }
                }
            },
            "id": "fly-apply",
            "name": "Fly Apply Diff",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                1456,
                -1200
            ]
        },
        {
            "parameters": {
                "jsCode": "const ctx = $('Guardrails').item.json;\nconst applyResp = $input.first().json;\n\n// Handle apply response\nconst filesChanged = applyResp.filesChanged || [];\nconst applyOk = applyResp.ok || false;\n\nif (!applyOk && applyResp.error) {\n  ctx.plan.warnings = ctx.plan.warnings || [];\n  ctx.plan.warnings.push('Failed to apply diff: ' + applyResp.error);\n}\n\nreturn [{ json: { ...ctx, filesChanged, applyOk } }];"
            },
            "id": "merge-apply",
            "name": "Merge Apply",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                1616,
                -1200
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "=https://jjrbnjubjiswvxeradzw.supabase.co/rest/v1/code_versions",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "apikey",
                            "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImpqcmJuanViamlzd3Z4ZXJhZHp3Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2NjIzMzg1OSwiZXhwIjoyMDgxODA5ODU5fQ.DDff_1lJpQo4vdnKm84-1H8QYD0diD-n7pK7VIliNe4"
                        },
                        {
                            "name": "Authorization",
                            "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImpqcmJuanViamlzd3Z4ZXJhZHp3Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2NjIzMzg1OSwiZXhwIjoyMDgxODA5ODU5fQ.DDff_1lJpQo4vdnKm84-1H8QYD0diD-n7pK7VIliNe4"
                        },
                        {
                            "name": "Content-Type",
                            "value": "application/json"
                        },
                        {
                            "name": "Prefer",
                            "value": "return=representation"
                        }
                    ]
                },
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={{ JSON.stringify({ client_id: $json.site.id, request_id: $json.requestId, instruction: $json.message, plan_json: $json.plan, diff: $json.plan.unifiedDiff || '', status: $json.applyOk ? 'preview_ready' : 'pending', preview_url: $json.previewUrl || '', created_at: new Date().toISOString() }) }}",
                "options": {}
            },
            "id": "save-cr",
            "name": "Save Request",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                1776,
                -1200
            ]
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "={{ JSON.stringify({ requestId: $('Merge Apply').item.json.requestId, status: $('Merge Apply').item.json.applyOk ? 'preview_ready' : 'pending', summary: $('Merge Apply').item.json.plan.humanSummary || '', diff: $('Merge Apply').item.json.plan.unifiedDiff || '', previewUrl: $('Merge Apply').item.json.previewUrl || '', filesChanged: $('Merge Apply').item.json.filesChanged || [], warnings: $('Merge Apply').item.json.plan.warnings || [] }) }}",
                "options": {}
            },
            "id": "response",
            "name": "Response",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1.1,
            "position": [
                1936,
                -1200
            ]
        },
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "agent/deploy",
                "responseMode": "responseNode",
                "options": {
                    "allowedOrigins": "*"
                }
            },
            "id": "webhook-deploy",
            "name": "Webhook Deploy",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 2,
            "position": [
                -432,
                -700
            ],
            "webhookId": "deploy"
        },
        {
            "parameters": {
                "jsCode": "const b=$input.first().json.body||$input.first().json;\nif(!b.siteId)throw new Error('Missing siteId');\nreturn[{json:{siteId:b.siteId,requestId:b.requestId||'',mode:b.mode||'pr',title:b.title||'AI Editor Changes',body:b.body||'Changes made via AI Editor'}}];"
            },
            "id": "validate-deploy",
            "name": "Validate Deploy",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                -288,
                -700
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "https://preview-orchestrator.fly.dev/preview/deploy",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "Content-Type",
                            "value": "application/json"
                        }
                    ]
                },
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={{ JSON.stringify({ siteId: $json.siteId, mode: $json.mode, title: $json.title, body: $json.body }) }}",
                "options": {
                    "timeout": 120000
                }
            },
            "id": "fly-deploy",
            "name": "Fly Deploy",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                -128,
                -700
            ]
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "={{ JSON.stringify({ status: 'deployed', mode: $json.mode, prUrl: $json.prUrl || '', branch: $json.branch || '' }) }}",
                "options": {}
            },
            "id": "response-deploy",
            "name": "Response Deploy",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1.1,
            "position": [
                32,
                -700
            ]
        }
    ],
    "connections": {
        "Webhook Edit UI": {
            "main": [
                [
                    {
                        "node": "Validate Input",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Validate Input": {
            "main": [
                [
                    {
                        "node": "Load Site",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Load Site": {
            "main": [
                [
                    {
                        "node": "Build Context",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Build Context": {
            "main": [
                [
                    {
                        "node": "Fly Start Preview",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Fly Start Preview": {
            "main": [
                [
                    {
                        "node": "Merge Fly Response",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Merge Fly Response": {
            "main": [
                [
                    {
                        "node": "Prepare Fetch",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Prepare Fetch": {
            "main": [
                [
                    {
                        "node": "Fetch GitHub Files",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Fetch GitHub Files": {
            "main": [
                [
                    {
                        "node": "Merge Files",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Merge Files": {
            "main": [
                [
                    {
                        "node": "AI Plan",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "AI Plan": {
            "main": [
                [
                    {
                        "node": "Parse Plan",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Anthropic": {
            "ai_languageModel": [
                [
                    {
                        "node": "AI Plan",
                        "type": "ai_languageModel",
                        "index": 0
                    }
                ]
            ]
        },
        "Parse Plan": {
            "main": [
                [
                    {
                        "node": "Guardrails",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Guardrails": {
            "main": [
                [
                    {
                        "node": "Fly Apply Diff",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Fly Apply Diff": {
            "main": [
                [
                    {
                        "node": "Merge Apply",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Merge Apply": {
            "main": [
                [
                    {
                        "node": "Save Request",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Save Request": {
            "main": [
                [
                    {
                        "node": "Response",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Webhook Deploy": {
            "main": [
                [
                    {
                        "node": "Validate Deploy",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Validate Deploy": {
            "main": [
                [
                    {
                        "node": "Fly Deploy",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Fly Deploy": {
            "main": [
                [
                    {
                        "node": "Response Deploy",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "pinData": {},
    "meta": {
        "templateCredsSetupCompleted": true
    }
}