n8n/preview-deploy-workflow.json
{
    "name": "AI Editor - Preview Deploy",
    "nodes": [
        {
            "parameters": {
                "content": "## 🚀 PREVIEW DEPLOY WEBHOOK\n\nTriggers Vercel deployment for PR branch\nReturns preview URL with custom subdomain",
                "height": 120,
                "width": 300,
                "color": 4
            },
            "id": "sticky-1",
            "name": "Sticky Note",
            "type": "n8n-nodes-base.stickyNote",
            "typeVersion": 1,
            "position": [
                -200,
                -100
            ]
        },
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "preview/deploy",
                "responseMode": "responseNode",
                "options": {}
            },
            "id": "webhook-1",
            "name": "Webhook - Deploy Preview",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 2,
            "position": [
                100,
                100
            ],
            "webhookId": "preview-deploy"
        },
        {
            "parameters": {
                "jsCode": "const body = $input.first().json.body || $input.first().json;\nconst required = ['clientId', 'repoUrl', 'branch', 'requestId'];\nconst missing = required.filter(k => !body[k]);\nif (missing.length) throw new Error('Missing: ' + missing.join(', '));\n\n// Extract owner/repo from URL\nconst match = body.repoUrl.match(/github\\.com\\/([^/]+)\\/([^/.]+)/);\nif (!match) throw new Error('Invalid GitHub URL');\n\nreturn [{\n  json: {\n    clientId: body.clientId,\n    owner: match[1],\n    repo: match[2],\n    branch: body.branch,\n    requestId: body.requestId,\n    previewDomain: process.env.PREVIEW_DOMAIN || 'preview.yourdomain.com'\n  }\n}];"
            },
            "id": "validate-1",
            "name": "Validate Input",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                320,
                100
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "https://api.vercel.com/v13/deployments",
                "authentication": "genericCredentialType",
                "genericAuthType": "httpHeaderAuth",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "Content-Type",
                            "value": "application/json"
                        }
                    ]
                },
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={\n  \"name\": \"preview-{{ $json.clientId }}\",\n  \"gitSource\": {\n    \"type\": \"github\",\n    \"org\": \"{{ $json.owner }}\",\n    \"repo\": \"{{ $json.repo }}\",\n    \"ref\": \"{{ $json.branch }}\"\n  },\n  \"target\": \"preview\",\n  \"projectSettings\": {\n    \"framework\": null\n  }\n}",
                "options": {}
            },
            "id": "vercel-deploy",
            "name": "Vercel - Create Deployment",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                540,
                100
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "https://api.vercel.com/v1/projects/preview-{{ $('Validate Input').item.json.clientId }}/alias",
                "authentication": "genericCredentialType",
                "genericAuthType": "httpHeaderAuth",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "Content-Type",
                            "value": "application/json"
                        }
                    ]
                },
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={\n  \"alias\": \"{{ $('Validate Input').item.json.clientId }}.{{ $('Validate Input').item.json.previewDomain }}\",\n  \"redirect\": null\n}",
                "options": {
                    "response": {
                        "response": {
                            "neverError": true
                        }
                    }
                }
            },
            "id": "vercel-alias",
            "name": "Vercel - Set Alias",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                760,
                100
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "={{ $env.SUPABASE_URL }}/rest/v1/preview_deployments",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "apikey",
                            "value": "={{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
                        },
                        {
                            "name": "Authorization",
                            "value": "Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
                        },
                        {
                            "name": "Content-Type",
                            "value": "application/json"
                        },
                        {
                            "name": "Prefer",
                            "value": "return=representation"
                        }
                    ]
                },
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={\n  \"request_id\": \"{{ $('Validate Input').item.json.requestId }}\",\n  \"deployment_id\": \"{{ $('Vercel - Create Deployment').item.json.id || '' }}\",\n  \"preview_url\": \"https://{{ $('Validate Input').item.json.clientId }}.{{ $('Validate Input').item.json.previewDomain }}\",\n  \"status\": \"{{ $('Vercel - Create Deployment').item.json.readyState || 'queued' }}\"\n}",
                "options": {}
            },
            "id": "save-deployment",
            "name": "Supabase - Save Deployment",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                980,
                100
            ]
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "={\n  \"success\": true,\n  \"previewUrl\": \"https://{{ $('Validate Input').item.json.clientId }}.{{ $('Validate Input').item.json.previewDomain }}\",\n  \"deploymentId\": \"{{ $('Vercel - Create Deployment').item.json.id || '' }}\",\n  \"status\": \"{{ $('Vercel - Create Deployment').item.json.readyState || 'queued' }}\",\n  \"requestId\": \"{{ $('Validate Input').item.json.requestId }}\"\n}",
                "options": {}
            },
            "id": "response-success",
            "name": "Response - Success",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1.1,
            "position": [
                1200,
                100
            ]
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "={\n  \"success\": false,\n  \"error\": \"{{ $json.message || 'Deployment failed' }}\"\n}",
                "options": {
                    "responseCode": 500
                }
            },
            "id": "response-error",
            "name": "Response - Error",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1.1,
            "position": [
                760,
                300
            ]
        }
    ],
    "connections": {
        "Webhook - Deploy Preview": {
            "main": [
                [
                    {
                        "node": "Validate Input",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Validate Input": {
            "main": [
                [
                    {
                        "node": "Vercel - Create Deployment",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Vercel - Create Deployment": {
            "main": [
                [
                    {
                        "node": "Vercel - Set Alias",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Vercel - Set Alias": {
            "main": [
                [
                    {
                        "node": "Supabase - Save Deployment",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Supabase - Save Deployment": {
            "main": [
                [
                    {
                        "node": "Response - Success",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "pinData": {},
    "meta": {
        "templateCredsSetupCompleted": true
    }
}