n8n/preview-deploy-workflow.json
{
    "name": "AI Editor - Preview Deploy (Cloudflare Pages)",
    "nodes": [
        {
            "parameters": {
                "content": "## 🚀 CLOUDFLARE PAGES PREVIEW\n\nTriggers Cloudflare Pages deployment\nReturns preview URL with custom subdomain",
                "height": 120,
                "width": 300,
                "color": 4
            },
            "id": "sticky-1",
            "name": "Sticky Note",
            "type": "n8n-nodes-base.stickyNote",
            "typeVersion": 1,
            "position": [
                -200,
                -100
            ]
        },
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "preview/deploy",
                "responseMode": "responseNode",
                "options": {}
            },
            "id": "webhook-1",
            "name": "Webhook - Deploy Preview",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 2,
            "position": [
                100,
                100
            ],
            "webhookId": "preview-deploy"
        },
        {
            "parameters": {
                "jsCode": "const body = $input.first().json.body || $input.first().json;\nconst required = ['clientId', 'repoUrl', 'branch', 'requestId'];\nconst missing = required.filter(k => !body[k]);\nif (missing.length) throw new Error('Missing: ' + missing.join(', '));\n\n// Extract owner/repo from URL\nconst match = body.repoUrl.match(/github\\.com\\/([^/]+)\\/([^/.]+)/);\nconst owner = match ? match[1] : '';\nconst repo = match ? match[2] : '';\n\nreturn [{\n  json: {\n    clientId: body.clientId,\n    owner,\n    repo,\n    branch: body.branch,\n    requestId: body.requestId,\n    accountId: $env.CLOUDFLARE_ACCOUNT_ID,\n    projectName: $env.CLOUDFLARE_PROJECT_NAME,\n    previewDomain: $env.PREVIEW_DOMAIN || 'preview.automatelb.com'\n  }\n}];"
            },
            "id": "validate-1",
            "name": "Validate Input",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                320,
                100
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "=https://api.cloudflare.com/client/v4/accounts/{{ $json.accountId }}/pages/projects/{{ $json.projectName }}/deployments",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "Authorization",
                            "value": "=Bearer {{ $env.CLOUDFLARE_API_TOKEN }}"
                        },
                        {
                            "name": "Content-Type",
                            "value": "application/json"
                        }
                    ]
                },
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={\n  \"branch\": \"{{ $json.branch }}\"\n}",
                "options": {}
            },
            "id": "cf-deploy",
            "name": "Cloudflare - Create Deployment",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                540,
                100
            ]
        },
        {
            "parameters": {
                "jsCode": "const input = $('Validate Input').item.json;\nconst deploy = $input.first().json;\n\n// Build the custom preview URL\nconst previewUrl = `https://${input.clientId}.${input.previewDomain}`;\n\n// Cloudflare also provides a direct URL\nconst cfUrl = deploy.result?.url || deploy.url || null;\n\nreturn [{\n  json: {\n    ...input,\n    deploymentId: deploy.result?.id || deploy.id || 'pending',\n    previewUrl: previewUrl,\n    cloudflareUrl: cfUrl,\n    status: deploy.result?.latest_stage?.status || 'queued'\n  }\n}];"
            },
            "id": "build-url",
            "name": "Build Preview URL",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                760,
                100
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "={{ $env.SUPABASE_URL }}/rest/v1/preview_deployments",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "apikey",
                            "value": "={{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
                        },
                        {
                            "name": "Authorization",
                            "value": "Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
                        },
                        {
                            "name": "Content-Type",
                            "value": "application/json"
                        },
                        {
                            "name": "Prefer",
                            "value": "return=representation"
                        }
                    ]
                },
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={\n  \"request_id\": \"{{ $json.requestId }}\",\n  \"deployment_id\": \"{{ $json.deploymentId }}\",\n  \"preview_url\": \"{{ $json.previewUrl }}\",\n  \"status\": \"{{ $json.status }}\"\n}",
                "options": {}
            },
            "id": "save-deployment",
            "name": "Supabase - Save Deployment",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                980,
                100
            ]
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "={\n  \"success\": true,\n  \"previewUrl\": \"{{ $('Build Preview URL').item.json.previewUrl }}\",\n  \"cloudflareUrl\": \"{{ $('Build Preview URL').item.json.cloudflareUrl }}\",\n  \"deploymentId\": \"{{ $('Build Preview URL').item.json.deploymentId }}\",\n  \"status\": \"{{ $('Build Preview URL').item.json.status }}\",\n  \"requestId\": \"{{ $('Build Preview URL').item.json.requestId }}\"\n}",
                "options": {}
            },
            "id": "response-success",
            "name": "Response - Success",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1.1,
            "position": [
                1200,
                100
            ]
        }
    ],
    "connections": {
        "Webhook - Deploy Preview": {
            "main": [
                [
                    {
                        "node": "Validate Input",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Validate Input": {
            "main": [
                [
                    {
                        "node": "Cloudflare - Create Deployment",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Cloudflare - Create Deployment": {
            "main": [
                [
                    {
                        "node": "Build Preview URL",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Build Preview URL": {
            "main": [
                [
                    {
                        "node": "Supabase - Save Deployment",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Supabase - Save Deployment": {
            "main": [
                [
                    {
                        "node": "Response - Success",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "pinData": {},
    "meta": {
        "templateCredsSetupCompleted": true
    }
}