n8n/preview-deploy-workflow.json
{
    "name": "AI Editor - Preview Deploy (Netlify)",
    "nodes": [
        {
            "parameters": {
                "content": "## 🚀 NETLIFY PREVIEW DEPLOY\n\nTriggers Netlify build for PR branch\nReturns preview URL with custom subdomain",
                "height": 120,
                "width": 300,
                "color": 4
            },
            "id": "sticky-1",
            "name": "Sticky Note",
            "type": "n8n-nodes-base.stickyNote",
            "typeVersion": 1,
            "position": [
                -200,
                -100
            ]
        },
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "preview/deploy",
                "responseMode": "responseNode",
                "options": {}
            },
            "id": "webhook-1",
            "name": "Webhook - Deploy Preview",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 2,
            "position": [
                100,
                100
            ],
            "webhookId": "preview-deploy"
        },
        {
            "parameters": {
                "jsCode": "const body = $input.first().json.body || $input.first().json;\nconst required = ['clientId', 'repoUrl', 'branch', 'requestId'];\nconst missing = required.filter(k => !body[k]);\nif (missing.length) throw new Error('Missing: ' + missing.join(', '));\n\nreturn [{\n  json: {\n    clientId: body.clientId,\n    repoUrl: body.repoUrl,\n    branch: body.branch,\n    requestId: body.requestId,\n    siteId: process.env.NETLIFY_SITE_ID,\n    previewDomain: process.env.PREVIEW_DOMAIN || 'preview.yourdomain.com'\n  }\n}];"
            },
            "id": "validate-1",
            "name": "Validate Input",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                320,
                100
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "=https://api.netlify.com/api/v1/sites/{{ $json.siteId }}/builds",
                "authentication": "genericCredentialType",
                "genericAuthType": "httpHeaderAuth",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "Content-Type",
                            "value": "application/json"
                        }
                    ]
                },
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={\n  \"clear_cache\": false,\n  \"branch\": \"{{ $json.branch }}\"\n}",
                "options": {}
            },
            "id": "netlify-build",
            "name": "Netlify - Trigger Build",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                540,
                100
            ]
        },
        {
            "parameters": {
                "jsCode": "const input = $('Validate Input').item.json;\nconst build = $input.first().json;\n\n// Netlify branch deploys use format: branch-name--site-name.netlify.app\n// But with custom domain, we use: clientId.preview.domain.com\nconst previewUrl = `https://${input.clientId}.${input.previewDomain}`;\n\nreturn [{\n  json: {\n    ...input,\n    buildId: build.id || build.build_id || 'pending',\n    deployId: build.deploy_id || null,\n    previewUrl: previewUrl,\n    status: build.state || 'building'\n  }\n}];"
            },
            "id": "build-url",
            "name": "Build Preview URL",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                760,
                100
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "={{ $env.SUPABASE_URL }}/rest/v1/preview_deployments",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "apikey",
                            "value": "={{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
                        },
                        {
                            "name": "Authorization",
                            "value": "Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
                        },
                        {
                            "name": "Content-Type",
                            "value": "application/json"
                        },
                        {
                            "name": "Prefer",
                            "value": "return=representation"
                        }
                    ]
                },
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={\n  \"request_id\": \"{{ $json.requestId }}\",\n  \"deployment_id\": \"{{ $json.buildId }}\",\n  \"preview_url\": \"{{ $json.previewUrl }}\",\n  \"status\": \"{{ $json.status }}\"\n}",
                "options": {}
            },
            "id": "save-deployment",
            "name": "Supabase - Save Deployment",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                980,
                100
            ]
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "={\n  \"success\": true,\n  \"previewUrl\": \"{{ $('Build Preview URL').item.json.previewUrl }}\",\n  \"buildId\": \"{{ $('Build Preview URL').item.json.buildId }}\",\n  \"status\": \"{{ $('Build Preview URL').item.json.status }}\",\n  \"requestId\": \"{{ $('Build Preview URL').item.json.requestId }}\"\n}",
                "options": {}
            },
            "id": "response-success",
            "name": "Response - Success",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1.1,
            "position": [
                1200,
                100
            ]
        }
    ],
    "connections": {
        "Webhook - Deploy Preview": {
            "main": [
                [
                    {
                        "node": "Validate Input",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Validate Input": {
            "main": [
                [
                    {
                        "node": "Netlify - Trigger Build",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Netlify - Trigger Build": {
            "main": [
                [
                    {
                        "node": "Build Preview URL",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Build Preview URL": {
            "main": [
                [
                    {
                        "node": "Supabase - Save Deployment",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Supabase - Save Deployment": {
            "main": [
                [
                    {
                        "node": "Response - Success",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "pinData": {},
    "meta": {
        "templateCredsSetupCompleted": true
    }
}